[run]
branch = True
omit =
    aiohug_swagger/tests/*
    aiohug_swagger/*/tests/*

[report]
skip_covered = True
exclude_lines =
    pragma: no cover
    def __repr__
    if self.debug:
    if settings.DEBUG
    raise AssertionError
    raise NotImplementedError
    if 0:
    if __name__ == .__main__.:

[html]
directory = .reports/coverage
